.btn {
  background-color: var(--primary-accent-color);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: var(--primary-accent-text-color);
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  overflow: hidden;
  padding: 0px 24px;
  position: relative;
  text-align: center;
  user-select: none;
  border-radius: 20px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
